/* Full DOM Formatting */
html { height: 100%; }
body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;

    /* Set Source Sans Pro as default font */
    font-family: 'Source Sans Pro', sans-serif;
}

a { text-decoration: none; }

/* Page Structure */
#sidebar {
    align-self: flex-start;
    height: 100%;
    width: 20%;
    box-sizing: border-box;
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, .1);
}

#content {
    height: 100%;
    max-width: 75%;
    min-width: 50%;

    align-self: center;

    box-sizing: border-box;
    padding: 2rem;
    margin: 0 auto;
}

.post {
    margin-bottom: 1rem;
    padding: 1rem;

    display: flex;
}

.post:hover {
    background-color: rgba(0, 0, 0, .1);
}

.post-image {
    margin-right: 1rem;
}

.post-content {
    height: 75px;
}

.post-header {
    margin-top: 0;
    margin-bottom: .25rem;
    color: rgba(0, 0, 0, .9)
}

.post-line {
    margin-top: 0;
    color: rgba(0, 0, 0, .7)
}

.section-header {
    color: ;
}

.sidebar-category {
    padding: .5rem 2rem;
}

.sidebar-category:hover {
    background-color: rgba(0, 0, 0, .9);
    color: white;
}
