<aside id="sidebar">
    <div class="sidebar-category">> I am a category</div>
</aside>

<div id="content">
    <a href="#" class="post">
        <img class="post-image" src="http://lorempixel.com/204/104/technics" />
        <div class="post-content">
           <h4 class="post-header">Apple shows off iCat, comes only in Champagne</h4>
           <p class="post-line">Isn't Apple the very coolest. They sell the coolest widgets!</p>
        </div>
    </a>
</div>

