<div id="background" class="vert-center horz-center">
    <div id="login-box">
        <h1 id="website-header">feedlit</h1>
        <a href="/auth/facebook" id="login-button">login with facebook</a>
    </div>
</div>
